@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Ubuntu:wght@300;400;700&display=swap");

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  min-height: 800px;
}

.restaurant-container a {
  text-decoration: none;
  color: black;
}

.restaurant-result {
  display: flex;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 5px 10px;
  border: 0.8px solid #e6e5de;
  border-radius: 10px;
}

.restaurant-image {
  width: 180px;
  height: 180px;
  border-radius: 5px;
  margin-right: 1rem;
  object-fit: cover;
}

.restaurant-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.restaurant-category {
  display: flex;
  align-items: center;
}

.restaurant-price {
  margin-right: 5px;
  font-size: 10px;
}

.restaurant-tag {
  background: #e6e5de;
  border-radius: 3px;
  padding: 3px 5px;
  margin-right: 5px;
  font-size: 8px;
  font-family: "Poppins", sans-serif;
}

.restaurant-info {
  width: 200px;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border-right: 1px solid #feae49; */
  /* padding-right: 10px; */
}

.restaurant-rating {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  background: #f4f4f4;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-contact {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  line-height: 15px;
  margin-top: 18px;
}

.restaurant-phone {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.restaurant-address {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}
