@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Ubuntu:wght@300;400;700&display=swap");

.footer-container {
  width: 800px;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.footer-icons {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.footer-terms {
  display: flex;
  width: 400px;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 13px;
}

.footer-copyright {
  font-size: 10px;
  margin-top: 50px;
}
