@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300;400;500;800&family=Ubuntu:wght@300;400;700&display=swap");

.profileActivity-container {
  width: 600px;
  margin-right: auto;
  margin-left: 230px;
  margin-top: 30px;
}

.profileActivity-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #feae49;
  border-bottom: 1px solid #e6e5de;
  padding-bottom: 10px;
}

.profileActivity-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #feae49;
}

.profileActivity-saved-image {
  width: 100px;
  margin-right: 20px;
}

.profileActivity-saved-details {
  display: flex;
  margin-top: 20px;
  border-bottom: 1px solid #e6e5de;
  padding-bottom: 20px;
}

.profileActivity-store-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profileActivity-store-name {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.profileActivity-saved-rating-info {
  display: flex;
  font-family: "Poppins", sans-serif;
}

.profileActivity-saved-rating {
  margin-right: 10px;
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.profileActivity-saved-review {
  font-size: 10px;
  font-family: "Poppins", sans-serif;
}

.profileActivity-saved-tag {
  font-size: 10px;
  background: #e6e5de;
  width: fit-content;
  padding: 2px 5px;
  border-radius: 5px;
}
