@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Ubuntu:wght@300;400;700&display=swap");

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 100px;
  border-top: 1px solid #e6e5de;
  /* border-bottom: 1px solid #e6e5de; */
  height: 200px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.comment-title {
  font-size: 18px;
  font-weight: 500;
  color: #aaaaaa;
  margin-top: 50px;
}

.comment-card {
  display: flex;
  margin-top: 45px;
}

.comment-input {
  padding: 9px 10px;
  border-radius: 10px;
  border: 0.5px solid #aaaaaa;
  font-size: 15px;
  width: 300px;
}

.comment-btn {
  border: none;
  background: #feae49;
  padding: 6px 25px;
  border-radius: 15px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.comment-btn:hover {
  background: #aaaaaa;
  transition: all 0.3s ease-in-out;
}

.comments-container {
  background: #fff;
  min-width: 400px;
  margin-top: 10px;
  z-index: 100;
  box-shadow: 5px 4px 15px rgba(174, 174, 174, 0.4);
  border-radius: 10px;
  min-height: 150px;
  overflow: hidden;
  overflow-y: auto;
}

.comments-card {
  max-width: 370px;
  border-bottom: 1px solid #e6e5de;
  padding-bottom: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  min-height: 50px;
}

.comments-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
}

.comments-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
  min-height: 30px;
}

.comments-name {
  font-size: 10px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
  color: #6a6a6a;
}

.comments-comment {
  font-size: 11px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
