@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800&family=Ubuntu:wght@300;400;700&display=swap");

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  max-width: 900px;
  margin-left: auto;
  border-bottom: 1px solid #e6e5de;
  margin-right: auto;
  padding-bottom: 10px;
}

.search-btn-input {
  display: flex;
  align-items: center;
}

.search-btn {
  border: none;
  background: #feae49;
  padding: 6px 15px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.search-input {
  padding: 5px 15px;
  border-right: 1px solid #feae49;
  border-top: none;
  border-left: none;
  border-bottom: none;
  width: 310px;
}

.search-icon {
  margin-left: 10px;
  color: #feae49;
  border: none;
  background: none;
}

.dataResult {
  z-index: 20;
}

.search-image {
  width: 55px;
  height: 55px;
  margin-right: 10px;
  object-fit: cover;
  border-radius: 10px;
}

.dataResult-container {
  position: absolute;
  max-width: 300px;
  height: 200px;
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-left: 325px;
  margin-right: auto;
  margin-top: 10px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 5px 4px 15px rgba(174, 174, 174, 0.4);
  z-index: 1000;
}

.dataResult-container::-webkit-scrollbar {
  display: none;
}

.search-result {
  margin-bottom: 10px;
  display: flex;
  transition: all 0.3s ease 0s;
}

.search-result:hover {
  cursor: pointer;
  background: #e6e5de;
  transition: all 0.3s ease 0s;
}

.search-restoInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}

.search-name {
  font-weight: 500;
}

.search-tag {
  font-size: 10px;
  background: #e6e5de;
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
}

.close-icon {
  cursor: pointer;
}
